* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2rem auto;
    padding: 10px;
    width: 26vw;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(6, 4rem);
    justify-content: center;
}

.display {
    border-radius: 5px;
    padding: 15px;
    align-items: center;
    font-size: 3rem;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid black;
    grid-area: 1/1/2/-1;
}

#equals {
    grid-area: 6/3/7/-1;
}

.clear {
    grid-area: 2/1/3/3;
}

button {
    font-weight: bold;
    border-radius: 5px;
    background-color: black;
    color: #b2ebf2;
    border: 2px solid transparent;
    font-size: 1.4rem;
    cursor: pointer;
}

button.num {
    color: white;
}

button:hover {
    border-color: plum;
}